In [38]:
students = {"Roll 1":"Bharath",
            "Roll 2":"yohan"
            }

for key in students:
    print(key)

Roll 1
Roll 2

In [10]:
students = {"Roll 1":"Bharath",
            "Roll 2":"yohan"
            }

for key,value in students.items():
    print(key,value)

Roll 1 Bharath
Roll 2 yohan

In [22]:
student = {"name":"Bharath","age":19}

student["name"] = "yohan"


print(student)

{'name': 'yohan', 'age': 19}

In [15]:
student = {"name":"Bharath","age":19}

student["city"] = "Bangalore"
student["age"] = 20
student.pop("name")

print(student)

{'age': 20, 'city': 'Bangalore'}

In [23]:
marks = {"math":90,"english":80,"science":85}

for key,value in marks.items():
    print(key,"=",value)

math = 90
english = 80
science = 85

In [34]:
prices = {
    "apple":100,
    "banana":40,
    "mango":80,
    "orange":60
}

count = 0 

for key,value in prices.items():
    if value > 70:
        print(key,"=",value)
        count += 1
      
print("count =",count)

apple = 100
mango = 80
count = 2

In [88]:
nums = [2,5,8,10]

count = 0
i = 0

while i < len(nums):
    if nums[i] > 6:
        count += 1
    i += 1
print("count =",count)

count = 2

In [89]:
list = [1,2,3,4,5]

total = 0
i = 0

while i < len(list):
    total += list[i]
    i += 1

print("sum =",total)

sum = 15

In [90]:
nums = [10,15,20,25]

count = 0
i = 0

while i < len(nums):
    if nums[i] % 5 == 0:
        count += 1
    i += 1
print("count =",count)

count = 4

In [91]:
text = "banana"

count = 0
for ch in text:
    if ch == "a":
        count += 1
print("count =",count)

count = 3

In [70]:
text = "hello"

for ch in text:
    print(ch)

h
e
l
l
o

In [93]:
nums = [3,6,9,12]

count = 0
for i in nums:
    if i % 2 == 0:
        count += 1
print("count = ",count)

count =  2

In [94]:
words = ["cat","apple","dog","banana"]

count = 0

for i in words:
    if len(i) > 3:
        count += 1
print("count =",count)

count = 2

In [95]:
dictionary = {"math":90,
              "english":70,
              "science":85
              }

count = 0

for key,value in dictionary.items():
    if value >= 80:
        count += 1
print("count =",count)

count = 2

In [96]:
nums = [5,10,15,20]

count = 0
for i in nums:
    if i > 10 and i % 5 == 0:
        count += 1
print("count =",count)

count = 2

In [ ]:
text = "Bharath"

vowels = "AEIOUaeiou"
count = 0

for ch in text:
    if ch in vowels:
        count += 1
print("count =",count)

count = 2