In [4]:
def square(n):
    return n * n
print(square(5))

25

In [5]:
def bigger(a,b):
    if a > b:
        return a
    else:
        return b
print(bigger(10,25))
print(bigger(50,20))

25
50

In [8]:
def even(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"
print(even(10))
print(even(9))

even
odd

In [ ]:
def factorial(n):
    result = 1
    for i in range(1,n + 1):
        result = result * i
        print(result)
    return result 


print(factorial(5))

1
2
6
24
120
120

In [16]:
def total_sum(n):
    total = 0
    for i in range(1,n + 1):
        total = total + i
    return total
print(total_sum(5))

15

In [18]:
def count_digits(n):
    count = 0
    while n > 0:
        n = n // 10
        count += 1
    return count

print(count_digits(1234))

4

In [20]:
def list_sum(lst):
    total = 0
    for i in lst:
        total += i
    return total

print(list_sum([5,5,5]))

15

In [21]:
def biggest(lst):
    max_number = 0
    for i in lst:
        result = max(i)
        max_number += 1
    return result 
print(biggest([3,8,1,10]))

TypeError: 'int' object is not iterable

In [23]:
lst = [10, 20, 30, 40]

# First element
print("First element:", lst[0])

# Last element
print("Last element:", lst[-1])

# Total sum
total = 0
for i in lst:
    total += i

print("Sum:", total)

First element: 10
Last element: 40
Sum: 100